extends layout

block content

	h1(style={'text-align': 'center' ,'margin' : '10px 0'}) #{currentUser.username}, are you sure you want to delete this message?

	form(method='POST' action='')
		div.logoutBtns
			button.delBtn(type='submit') Delete
			a(href="/")
				button.cancelBtn(type='button') Cancel